body {
    margin: 0;
    background: #E8E8E8;
}
body h1{
    font-family: 'IBM Plex Mono', monospace;
    color: #5588A3;
}
header {
    width: 100%;
    background: #145374;    
}
.logo-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 0;
}
.CeramicArt{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5em;
    width: 100%;
    color: #145374;
    object-fit: cover;
}
.logo-container{
    animation:fadeIn 10s normal;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
.subtitulos:hover{
    animation:animate__pulse 1s ease;
}
@keyframes animate__pulse{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
footer{
    width: 100%;
    background: #145374;
}
.mapa{
    position: relative;
    width: 100%;
    height: 500px;
}

/*Estilos Menu*/

#btn-menu {
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #e8e8e834;
}
header label:hover{ 
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li{
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    flex-grow: 1 ;
    border-right: 1px solid #e8e8e834;
}
.menu li:hover{
    background: rgba(0,0,0,0.3);
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #E8E8E8;
    text-decoration: none;
}
.container-submenu{
    position: relative;
}
.submenu{
    display: block;
    flex-direction: column;
    position: absolute;
    background: #5588A3;
    top: 50px;
    width: 100%;
    overflow: visible;
    z-index:1000;
    opacity:0;
    visibility: hidden;
    transition: all 0.5s;
}
.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

@media(max-width:768px){
    header label{
        display:block;
    }
    .menu{
        position: absolute;
        background: #145374;
        width: 50%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border: 1px solid #e8e8e834;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .container-submenu{
        position: relative;
    }
    .submenu{
        position:absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: visible;
        transition: all 0.5s;
    }
    .submenu .menu__item{
        text-align: center;
        background:#5588A3 ;
        padding-left: 0;
    }
}

/*Estilos Menu-out*/

.menu-out ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu-out li:hover{
        background: #145374;
}
.menu-out li a{
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    padding: 15px 20px;
    color: #E8E8E8;
    text-decoration: none;
}

/*Estilos Section*/
section{
    display: flex;
    width: 100%;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
 
/*Estilos de la galería*/

.gallery-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 400px;
    padding: 20px;
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item:nth-child(1) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 2;
}

@media (min-width:768px){
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item:nth-child(1){
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(2){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(3){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(5){
        grid-column-start: span 2;
    }
}

@media (min-width:1024px){
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
    }
        .gallery__item:nth-child(1){
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(2){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(3){
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(5){
        grid-column-start: span 1;
    }
}

/*Estilos About*/
.gallery-container-about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    grid-auto-rows: 300px;
}
.gallery__item_about{
    position: relative;
}
.gallery__img_about{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.gallery__text{
    position: relative;
}
.gallery__item_about:nth-child(1) {
    grid-row-start: span 1;
}
.gallery__item_about:nth-child(2) {
    grid-row-start: span 1;
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    padding: 10px;
}
.gallery__item_about:nth-child(3) {
    grid-row-start: span 2;
}
.gallery__item_about:nth-child(4) {
    grid-row-start: span 1;
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    padding: 55px 10px 55px 10px;
}
.gallery__item_about:nth-child(5) {
    grid-row-start: span 2;
}
.gallery__item_about:nth-child(6) {
    grid-row-start: span 2;
}
.gallery__item_about:nth-child(7) {
    grid-row-start: span 2;
}
.gallery__item_about:nth-child(8) {
    grid-row-start: span 2;
}
.gallery__item_about:nth-child(9) {
    grid-row-start: span 2;
}

@media (min-width:768px){
    .gallery-container-about{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item_about:nth-child(1) {
        grid-column-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(2) {
        font-family: 'IBM Plex Mono', monospace;
        text-align: justify;
        padding:10px 15px 15px 0px;
    }
    .gallery__item_about:nth-child(3) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(4) {
        grid-row-start: span 1;
        font-family: 'IBM Plex Mono', monospace;
        text-align: justify;
        padding: 20px 15px 15px 0px;
    }
    .gallery__item_about:nth-child(5) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(6) {
        grid-row-start: span 1;
        padding: 2px;
    }
    .gallery__item_about:nth-child(7) {
        grid-row-start: span 1;
        padding: 2px;
    }
    .gallery__item_about:nth-child(8) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(9) {
        grid-row-start: span 2;
        padding: 2px;
    }
}

@media (min-width:1024px){
    .gallery-container-about{
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery__item_about:nth-child(1) {
        grid-column-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(2) {
        font-family: 'IBM Plex Mono', monospace;
        text-align: justify;
        padding: 30px;
    }
    .gallery__item_about:nth-child(3) {
        grid-row-start: span 3;
        padding: 2px;
    }
    .gallery__item_about:nth-child(4) {
        grid-row-start: span 1;
        font-family: 'IBM Plex Mono', monospace;
        text-align: justify;
        padding: 70px 30px;
    }
    .gallery__item_about:nth-child(5) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(6) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(7) {
        grid-row-start: span 3;
        padding: 2px;
    }
    .gallery__item_about:nth-child(8) {
        grid-row-start: span 2;
        padding: 2px;
    }
    .gallery__item_about:nth-child(9) {
        grid-row-start: span 2;
        padding: 2px;
    }
}
  
/*Estilos Contactos*/
.contactos{
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    padding: 25px 180px;
}
@media (max-width:768px){
   .contactos{
    padding: 20px 100px;
   }
}
@media (max-width:520px){
    .contactos{
        padding: 15px 50px;
    }
}

.form-container{
    display: grid;
    grid-template-columns: (1, 1fr);
    grid-auto-rows: 200px;
    width: 100%;
    background: #E8E8E8;
    position: relative;
    align-content: center ;
    text-align: center;
}

.form__item{
    position: relative;
    margin-top: 15px;
    background: #d4d3d3;
    border: 1px solid #00334E;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20) ;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}
.form-button{
    border: none;
    background: none;
    background-color: #00334E;
    color:#E8E8E8 ;
    font-family:'IBM Plex Mono', monospace ;
    padding: 10px 10px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20) ;
}

/*Estilos Productos*/
.container-icon{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:right;
}
.icono{
    width: 40px;
    padding: 0 30px 0 0 ;
}
.container-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-family:'IBM Plex Mono', monospace;
    margin: 0 5px 20px;
}
.producto__item img{
    width: 110%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 1.5s;
}
.producto__item{
    border-radius: 10px;
}
.producto__item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.40);
}
.producto__item figure{
    overflow: hidden;
}
.producto__item:hover img{
    transform: scale(1.2)
}
.producto__info{
    padding: 0 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.price{
    font-size: 20px;
}
.producto__info button{
    border: none;
    background: none;
    background-color: #145374;
    color:#E8E8E8 ;
    font-family:'IBM Plex Mono', monospace ;
    padding: 15px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20) ;
}
@media(max-width:768px){
    .container-products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:510px){
    .container-products{
        grid-template-columns: repeat(1, 1fr);
    }
}
.text .text-info{
  color: #145374;
  font-family:'IBM Plex Mono', monospace ;
    text-align: center;
}
#quote{
  font-size: 2em;
  text-align: center
}
.card-body{
  margin: 30px
}
.card-body>span{ 
  text-align: right;
  font-size: 1.5em
}
